body {
  font-family: Arial;
  padding: 0px;
  background: #FFF;
  margin: 0px;
  text-align: left;
}

.header-image    {
    display: block;
    width: 100%;
    height: 400px;
/*    overflow: scroll;*/
}

.homepage-image    {
    display: block;
    width: 100%;
    height: 200px;
/*    overflow: scroll;*/
}

hr {
    display: block;
    border: none;
    height: 4px;
    color: #000;
    background-color: #000;
    margin: 1em 0;
    padding: 0;
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2 {
    font-family: "Comfortaa", serif;
}

h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/* BLOG POSTS */


.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
 
/* IMAGE FORMATTING */ 

img {
    max-width: 100%;
    max-height: 100%;
    display: block;  
    margin-left: auto;
    margin-right: auto ;
}

/* showAll.php IMAGE GRID */

.imageBox {

  width: 300px;
  height: auto;
}

.gallery {
    display: inline-block;
    border: 3px solid #333333;
    box-shadow: 10px 10px 5px grey;
    min-width: 300px;
    height: 200px;
}

.gallery a:link { color: #FFF; }
.gallery a:visited { color: #FFF; }
.gallery a:active { color: #FFF; }

.galleryCaption {
    font: 30px 'Rajdhani', sans-serif;
}

galleryDate {
    font-weight:bold;
    font: 20px 'Roboto', sans-serif;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

.authorImage {
  height: 100px;
  width: 100px; 
  border-radius: 50%;
}

/* FOOTER FORMATTING */ 

footer {
    padding: 0px;
    text-align: center;
    background: #e5e5e5;
    margin: 0px;
    width:100%;
    left: 0;
    bottom: 0;
}

 .f1, .f2, .f3, .f4 {
   padding: 0px;
   margin: 0px;
   background: #e5e5e5;
   text-align: left;
 }

 .f1,
 .f2,
 .f3,
 .f4 {
  -moz-box-sizing: border-box;
   box-sizing: border-box;
   display: inline-block;
   flex-direction: column;
   text-align: center;
   font-size: 16px;
   padding: 50px 8%;
   min-width: 300px;
   width: 25%;
   margin: 0px;
 }
 
 #wrapper{
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;

}

#wrapper div{
    -webkit-flex:1;
    flex:1;
    border: thin solid #FFF;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social {
  padding: 20px;
  margin: 0px;
  background: #4D7EA8;
  text-align: right;  
}

.homeLog {
  padding: 4px;
  margin: 0px;
  background: #000;
  text-align: right;
  font-family: sans-serif;
  color: #FFF;
  font-size: 10px;
}

.homepage a:link { color: #fff; }
.homepage a:visited { color: #fff; }
.homepage a:active { color: #fff; }


/* unvisited link   THESE WILL BE CHANGED! */
a:link {
    color: #304D6D;
}

/* visited link */
a:visited {
    color: #82A0BC;
}

/* mouse over link */
a:hover {
    color: darkslategray;
    text-decoration: none;
}

/* selected link */
a:active {
    color: darkslategray;
}

.secret {
position:absolute;
bottom: 0;
left: 20px;
}


/* THIS IS FOR HOVER EFFECT ON IMAGES */

.hoverBox {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.gallery:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.date {
  background-color: #82A0BC;
  top: 10px;
  text-align: right;
  color: white;
  font-size: 15px;
}

.hoverBox:hover .date {
 opacity: 0; 
 transition: opacity .35s ease;
}

.title {
  font: 30px 'Rajdhani', sans-serif;
  position: relative;
  width: 300px;
  left: 0;
  top: 20px;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .35s ease;
  background-color: #82A0BC;
  
}

.hoverBox:hover .title {
  top: 90px;
  background-color: transparent;
}

.hoverButton {
  position: absolute;
  width: 300px;
  top: 230px;
  opacity: 0;
  transition: opacity .35s ease;
}

.hoverButton a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  border-radius: 5%;
  z-index: 1;
}

.hoverBox:hover .hoverButton {
  opacity: 1;
  background-color: #82A0BC;
}